* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav__bar {
  width: 100%;
  background-color: black;
}

.img__header {
  width: 100%;
}

.container__img {
  position: relative;
  display: inline-block;
  text-align: center;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text__on {
  position: absolute;
  top: 50px;
  left: 20px;
}

.contact {
  width: 100%;
  background-color: black;
}

.list__privacy ol {
  display: inline;
  margin: 0 10px 0 0;
  padding: 2px 7px 2px 7px;
  border: 1px solid #ccc;
}
